<ion-header>
  <ion-toolbar>
    <ion-title>Mapa</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

</ion-content>

<!-- Footer -->
<ion-footer>
  <ion-toolbar>
    <div class= "menu">
      <ion-item-divider>
        <span class="inicio" style="text-align: center"><ion-button fill="outline" size="large" (click)="navigateToInicio()">Inicio</ion-button> </span>
 
        <span class="informacion"  style="text-align: center"><ion-button fill="outline" size="large" (click)="navigateToInformacion()">Información</ion-button> </span>
     
        <span class="mapa" style="text-align: center"><ion-button fill="outline" size="large" (click)="navigateToMapa()">Mapa</ion-button> </span>
      </ion-item-divider>

     </div>
  </ion-toolbar>
</ion-footer>