
<ion-content padding>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed" bottom right edge (click)="navigateToCita()" >
    <!-- Boton para añadir una cita que llama a la funcion navigateToCita con el click -->
    <ion-fab-button><ion-icon name="add"></ion-icon></ion-fab-button>
  </ion-fab>

  
 

  <!-- Lista de las citas que estan en la base de datos -->
  <h1>LISTA DE CITAS</h1>
  <ion-list>
    <ion-item *ngFor="let documentCita of arrayColeccionCitas" (click)="selecCita(documentCita)">
      <ion-grid>
        <ion-row>
          <h2>{{documentCita.data.nombre}}</h2>
        </ion-row>
        <ion-row>
          <p>{{documentCita.data.numeroTlf}}</p>
        </ion-row>
        <ion-row>
          <p>{{documentCita.data.dia}}</p>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-list>
</ion-content>

<!-- Footer -->
<ion-footer>
  <ion-toolbar>
    <div class= "menu">
      <ion-item-divider>
        <span class="inicio" style="text-align: center"><ion-button fill="outline" size="large" (click)="navigateToInicio()">Inicio</ion-button> </span>
 
        <span class="informacion"  style="text-align: center"><ion-button fill="outline" size="large" (click)="navigateToInformacion()">Información</ion-button> </span>
     
        <span class="mapa" style="text-align: center"><ion-button fill="outline" size="large" (click)="navigateToMapa()">Mapa</ion-button> </span>
      </ion-item-divider>

     </div>
  </ion-toolbar>
</ion-footer>
